<img src="/assets/images/logo.svg" alt="Logo" class="login__form-container__logo">
<div class="login__form-container__title">
  <h1>Boas-vindas ao Portal!</h1>
  <h2>Para começar, qual seu email ou CPF?</h2>
</div>
<p class="login__form-container__subtitle">Precisamos desta confirmação para dar início ao seu acesso.</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form-container__form">
  <mat-form-field appearance="outline" class="login__form-container__form__form-field">
    <mat-label>Email ou CPF</mat-label>
    <input matInput formControlName="emailOrCpf" required />
    <mat-icon matSuffix>check_circle</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="login__form-container__form__form-field">
    <mat-label>Senha</mat-label>
    <input matInput type="password" formControlName="password" required />
    <mat-icon matSuffix>check_circle</mat-icon>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="login__form-container__form__submit"
  >ACESSAR</button>
</form>

<a routerLink="/forgot-password" class="login__form-container__forgot-password">Esqueceu a senha? Acesse aqui</a>
<p class="login__form-container__version">Versão 0.01</p>
