@import 'styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark;
  height: 64px;

  &__profile {
    display: flex;
    align-items: center;

    &__avatar {
      display: flex;
      align-items: center;
      justify-content: center;

      &__image {
        width: 40px !important;
        height: 40px !important;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  &__icons {
    display: flex;

    button {
      color: $white;

      mat-icon {
        font-size: 24px;
      }
    }
  }
}
