<header class="container header" *ngIf="(user$ | async) as user">
  <div class="header__profile">
    <button
      mat-icon-button
      class="header__profile__avatar"
      [matMenuTriggerFor]="menu"
    >
      <img
        [src]="user?.avatar"
        alt="Foto de perfil"
        class="header__profile__avatar__image"
      />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLogout()">Sair</button>
    </mat-menu>
  </div>
  <div class="header__icons">
    <button mat-icon-button aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Visibilidade">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-icon-button aria-label="Recarregar">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</header>
