@function generate-map-colors($color) {
  @return (
    50: lighten($color, 40%),
    100: lighten($color, 30%),
    200: lighten($color, 20%),
    300: lighten($color, 10%),
    400: lighten($color, 5%),
    500: $color,
    600: darken($color, 5%),
    700: darken($color, 10%),
    800: darken($color, 15%),
    900: darken($color, 20%),
    A100: lighten($color, 30%),
    A200: lighten($color, 20%),
    A400: lighten($color, 10%),
    A700: darken($color, 10%),
    contrast: (
      50: $white,
      100: $white,
      200: $white,
      300: $white,
      400: $white,
      500: $white,
      600: $white,
      700: $white,
      800: $white,
      900: $white,
      A100: $black,
      A200: $black,
      A400: $black,
      A700: $white,
    )
  );
}
