<app-base-layout>
  <section class="contribution">
    <div class="contribution__header">
      <h1 class="contribution__header__title">Contribuições</h1>
      <p class="contribution__header__total">Total em contribuições: R$ 999.999,99</p>
    </div>
    <div class="contribution__chart">
      <app-chart
        [chartData]="doughnutChartData"
        [chartLabels]="doughnutChartLabels"
        [chartOptions]="doughnutChartOptions"
      ></app-chart>
    </div>
    <hr class="contribution__divider divider" />
    <div class="contribution__list">
      <app-card *ngFor="let card of cards" [data]="card"></app-card>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="contribution__button"
      type="button"
    >
      Incluir Contribuição
    </button>
  </section>
</app-base-layout>
