@import 'styles/variables';

.card {
  border: 1px solid $gray-300;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icon {
      display: flex;
      align-items: center;
      font-size: 24px;
      color: $primary;
    }

    &__title {
      flex-grow: 1;
      font-size: 16px;
      font-weight: bold;
      margin-left: 8px;
      line-height: 0;
    }

    &__arrow {
      font-size: 24px;
      color: $gray-500;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__label {
        font-size: 14px;
        color: $gray-700;
      }

      &__value {
        font-size: 14px;
        font-weight: bold;
      }
    }

    &__link {
      font-size: 14px;
      font-weight: bold;
      color: $primary;
      text-decoration: none;
      margin-top: 8px;
      align-self: flex-start;
      text-transform: uppercase;
    }
  }
}
