@mixin padding-base {
  @each $breakpoint, $value in $breakpoints {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      padding: 0 map-get($container-padding-map, $breakpoint);
    }
  }
}

@mixin container {
  max-width: $grid-max-width;
  margin-left: auto;
  margin-right: auto;
  @include padding-base;
}

@mixin column($size) {
  $span: calc($size / $grid-columns) * 100%;
  flex: 0 0 $span;
  max-width: $span;
}
