@use 'sass:map';
@import 'styles/variables';

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__banner {
    display: flex;
    flex: 1;
    width: 60%;

    @media screen and (max-width: map.get($breakpoints, "md")) {
      display: none;
    }
  }
}
