@import 'styles/variables';

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/background.svg') no-repeat center center;
    background-size: cover;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    height: 100%;

    &__figure {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        max-width: 90%;
        height: auto;
      }

      &__caption {
        font-size: 24px;
        font-weight: bold;
        color: $white;
      }
    }
  }
}
