@use "@angular/material" as mat;
@import "@angular/material/theming";

$primary-colors-mapped: generate-map-colors($primary);
$accent-colors-mapped: generate-map-colors($blue);
$warn-colors-mapped: generate-map-colors($danger);

$primary-pallete: mat.define-palette($primary-colors-mapped);
$accent-pallete: mat.define-palette($accent-colors-mapped);
$warn-pallete: mat.define-palette($warn-colors-mapped);

$custom-theme: mat-light-theme((
  color: (
    primary: $primary-pallete,
    accent: $accent-pallete,
    warn: $warn-pallete
  ),
  typography: mat.define-typography-config(
    $font-family: $font-color-base
  ),
  density: 0
));

@include mat-core();
@include mat.all-component-themes($custom-theme);
