html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
  font-size: $font-size-base !important;
  font-weight: $font-weight-base !important;
  font-family: $font-family-base !important;
  background-color: $background-color !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: Poppins, sans-serif;
    font-size: map-get(map-get($heading-sizes, $i), font-size);
    line-height: map-get(map-get($heading-sizes, $i), line-height);
  }
}

p {
  font-size: $font-size-base;
  line-height: 1.6;
}

i { font-size: 14px }
b { font-weight: 500 }

a {
  color: $primary;
  text-decoration: none !important;
  outline: 0;
}
